/Generator/config/task/WIFI_GPSINFO_V3.properties
/Generator/config/datasource.properties
/Generator/npm
/target
/Generator/target
/out/artifacts/Generator
/Generator/config/task/control_219093.properties
